sam/statemachine/import-user-quoted-tweets.asl.json
{
  "Comment": "A state machine that imports quoted tweets for user",
  "StartAt": "ScanTweets",
  "States": {
    "ScanTweets": {
      "Type": "Task",
      "Resource": "${ScanTweetsArn}",
      "ResultPath": "$.scanTweetsResult",
      "Next": "ExtractQuotes"
    },
    "ExtractQuotes": {
      "Type": "Map",
      "ItemsPath": "$.scanTweetsResult.tweets",
      "ResultPath": "$.extractionResults",
      "Iterator": {
        "StartAt": "CheckDocumentExistence",
        "States": {
          "CheckDocumentExistence": {
            "Type": "Task",
            "Resource": "${CheckDocumentExistenceArn}",
            "ResultPath": "$.documentExists",
            "Next": "JudgeDocumentExistence"
          },
          "JudgeDocumentExistence": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.documentExists",
                "BooleanEquals": true,
                "Next": "ExtractQuote"
              }
            ],
            "Default": "CrawlDocument"
          },
          "CrawlDocument": {
            "Type": "Task",
            "ResultPath": "$.documentExists",
            "Resource": "${CrawlDocumentArn}",
            "Next": "ExtractQuote"
          },
          "ExtractQuote": {
            "Type": "Task",
            "Resource": "${ExtractQuoteArn}",
            "End": true
          }
        }
      },
      "Next": "SaveResult"
    },
    "SaveResult": {
      "Type": "Task",
      "Resource": "${SaveResultArn}",
      "End": true
    }
  }
}
